<form
  class="grid grid-cols-1 gap-4 mt-8 md:grid-cols-1"
  [formGroup]="signupForm"
  (ngSubmit)="onSubmit()"
>
  <div>
    <label
      for="username"
      class="block mb-2 text-gray-600 dark:text-gray-200 font-bold capitalize text-md"
      >username:</label
    >
    <input
      type="text"
      id="username"
      formControlName="username"
      placeholder="zienmu12"
      class="form-control block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-[#ffc100] dark:focus:border-[#ffc100] focus:ring-[#ffc100] focus:outline-none focus:ring focus:ring-opacity-40"
    />

                 <ul *ngIf="username?.invalid && (username?.dirty || username?.touched)"
                    class="text-sm list-disc text-red-400 list-inside">

                  <li *ngIf="username?.errors?.['required']">
                    username is required.
                  </li>
                  <li *ngIf="username?.errors?.['minlength']">
                    username must be at least 8 characters long.
                  </li>
                  <li *ngIf="username?.errors?.['maxlength']">
                    username must be less than 20 characters.
                  </li>
                  <li *ngIf="username?.errors?.['pattern']">
                    username must contain small letters only and numbers.
                  </li>
                </ul>  
  </div>
  <div>
    <label
      for="fullname"
      class="block mb-2 text-gray-600 dark:text-gray-200 font-bold capitalize text-md"
      >fullname:</label
    >
    <input
      type="text"
      id="fullname"
      formControlName="fullname"
      placeholder="ZienMuhammad"
      class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-[#ffc100] dark:focus:border-[#ffc100] focus:ring-[#ffc100] focus:outline-none focus:ring focus:ring-opacity-40"
    />
    <ul *ngIf="fullname?.invalid && (fullname?.dirty || fullname?.touched)"
    class="text-sm list-disc text-red-400 list-inside">

  <li *ngIf="fullname?.errors?.['required']">
    fullname is required.
  </li>
  <li *ngIf="fullname?.errors?.['minlength']">
    fullname must be at least 8 characters long.
  </li>
  <li *ngIf="fullname?.errors?.['maxlength']">
    fullname must be less than 20 characters.
  </li>
  <li *ngIf="fullname?.errors?.['pattern']">
    fullname must contain characters only.
  </li>
</ul>  
  </div>
  <div>
    <label
      for="password"
      class="block mb-2 text-gray-600 dark:text-gray-200 font-bold capitalize text-md"
      >Password:</label
    >
    <div class="relative">
      <input
      [type]="setType()"
      id="password"
      formControlName="password"
      placeholder="Enter your password"
      class="relative block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-[#ffc100] dark:focus:border-[#ffc100] focus:ring-[#ffc100] focus:outline-none focus:ring focus:ring-opacity-40"
    />
    <div class="absolute z-20 top-[10px] right-[10px] flex self-center">
      <p (click)="togglePassword()" class="cursor-pointer" *ngIf="!isShow"><mat-icon class="text-[#ffc100]">visibility_on</mat-icon></p>
      <p (click)="togglePassword()" class="cursor-pointer" *ngIf="isShow"><mat-icon class="text-[#ffc100]">visibility_off</mat-icon></p>
  </div>

    </div>

    <ul *ngIf="password?.invalid && (password?.dirty || password?.touched)"
    class="text-sm list-disc text-red-400 list-inside">

  <li *ngIf="password?.errors?.['required']">
    password is required.
  </li>
  <li *ngIf="password?.errors?.['minlength']">
    password must be at least 8 characters long.
  </li>
  <li *ngIf="password?.errors?.['maxlength']">
    password must be less than 20 characters.
  </li>

  <li *ngIf="password?.errors?.['requiresDigit']">
    password must contain digits ex.123.
  </li>
  <li *ngIf="password?.errors?.['requiresLowercase']">
    password must contain lowercase Chars ex.abc.
  </li>
  <li *ngIf="password?.errors?.['requiresUppercase']">
    password must contain uppercase Chars ex.ABC.
  </li>
  <li *ngIf="password?.errors?.['requiresSpecialChars']">
    password must contain specialChars ex.@#.
  </li>
</ul>
  </div>
  <button
    type="submit"
    class="flex items-center justify-between max-w-[250px] px-6 py-3 text-sm tracking-wide text-white capitalize transition-colors duration-300 transform bg-[#ffc100] rounded-md hover:bg-[#ffb100] focus:outline-none focus:ring focus:ring-[#ffb100] focus:ring-opacity-50"
  >

    <span *ngIf="signupForm?.invalid"> Sign Up </span>
    <a *ngIf="signupForm?.valid" routerLink="/userProfile">
      SignUp
    </a>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-5 h-5 rtl:-scale-x-100"
      viewBox="0 0 20 20"
      fill="currentColor"
    >
      <path
        fill-rule="evenodd"
        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
        clip-rule="evenodd"
      />
    </svg>
  </button>
</form>

<div  [ngClass]="{'fixed w-screen items-center justify-center h-screen bg-[rgba(250,200,1,.4)] top-0 left-0 z-30':true,'flex':flag ,'hidden':!flag}">
  <div role="status">
      <svg aria-hidden="true" class="w-[60px] h-[60px] m-auto  text-gray-200 animate-spin dark:text-gray-600 fill-gray-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
          <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
      </svg>
      <!-- <span class="sr-only">Loading...</span> -->
  </div>
</div>